

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .image-wrap {
    width: 100%;
    height: 24rem;
    overflow: hidden;
    

  }
  
  .image-wrap img {
    display: block;
    height: 23.9rem;
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
  }

.cardList{
  padding-top: 4rem;
  display: grid;
  gap: 1rem;
}

.card{
  background: rgb(85, 85, 85);
  padding: 1rem;
  border-radius: 12px;
  max-width: 36rem;
}




.card--info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.card--info p{
    font-size: 1.2rem;
    color: rgb(134, 134, 134);
    
  }
    

.card--info span{
    padding: 0 .09rem;
}

@media screen and (min-width: 760px) {
  .cardList{
  
    grid-template-columns: 1fr 1fr;
  }
}    
@media screen and (min-width: 1080px) {
  .cardList{
  
    grid-template-columns: 1fr 1fr 1fr;
  }
}    
  