*{
    box-sizing: border-box;
}

header{
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background:  rgb(29, 29, 29);
}

.App-header>a{
  
    color: #eb5757;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    gap: 1rem;
    font-size: 4rem;
    margin: 1rem 0;
}

.App-header{
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.App-header input{
    height: 4.5rem;
    width: 98%;

    background-color: rgb(49, 49, 49);
    outline: none;
    
    color: thistle;
    font-size: 1.6rem;
    margin: 0 auto;   
    padding: 0 4rem;
}

.App-header input[name='location']{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.App-header input[name='guests']{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.filter{
    display: flex;
    flex-direction: row;
    width: 90%;
  
    margin-bottom: 1rem;
    position: relative;
    z-index: 2;

}





