*{
    box-sizing: border-box;
}

header{
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background:  rgb(29, 29, 29);
}

.App-header>a{
  
    color: #eb5757;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    gap: 1rem;
    font-size: 4rem;
    margin: 0;
}

.App-header{
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.App-header input{
    height: 4.5rem;
    width: 98%;
    border-radius: 12px;
    background-color: rgb(49, 49, 49);
    outline: none;
    border: none;
    color: thistle;
    font-size: 1.6rem;
    margin: 0 auto;   
    padding: 0 4rem; 
}

@media screen and (min-width: 760px){
    header input{
     width: 76rem;
    }
  }
  @media screen and (min-width: 1080px){
    header input{
     width: 50%;
    }
  }

.filter{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding-bottom: 1rem;
}



