*{
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(29, 29, 29);
  overflow-x: hidden;
}

.wrap{
  max-width: 36rem;
  margin: 0 auto;
  background: rgb(56, 56, 56);
  padding: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (min-width: 760px){
  .wrap{
    max-width: 76rem;
  }
}
@media screen and (min-width: 1080px){
  .wrap{
    max-width: 108rem;
  }
}




